In [11]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\cecil\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (9.0.0)

[notice] A new release of pip is available: 24.1 -> 24.2
[notice] To update, run: C:\Users\cecil\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [12]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [13]:
# Esta función crea el BDD. Se conecta al servidor y si funciona lo crea, si falla te dice el fallo.
def crear_bbdd():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1')
    mycursor = cnx.cursor()

    try:
        mycursor.execute("CREATE DATABASE ABC_Corporation") # Aquí, el nombre de la base de datos se indica después del operador CREATE DATABASE.
        print("DATABASE CREATED UNDER THE NAME: ABC_Corporation 🆗")
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    finally:
        cnx.commit()
        mycursor.close()
        cnx.close()

# Esta función crea las tablas. Se conecta al servidor y si funciona lo crea, si falla te dice el fallo.
def crear_tablas():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='ABC_Corporation')
    mycursor = cnx.cursor()

 # Lista de consultas donde se crean todas las tablas.
    queries = [
        """CREATE TABLE Employee (
    ID INT PRIMARY KEY,
    Age INT,
    Attrition VARCHAR(5),
    BusinessTravel VARCHAR(50),
    DailyRate DECIMAL(10, 2),
    Department VARCHAR(50),
    DistanceFromHome INT,
    Education VARCHAR(50),
    EducationField VARCHAR(50),
    EmployeeNumber INT UNIQUE,
    EnvironmentSatisfaction VARCHAR(50),
    Gender VARCHAR(10),
    HourlyRate DECIMAL(10, 2),
    JobInvolvement VARCHAR(50),
    JobLevel VARCHAR(50),
    JobRole VARCHAR(50),
    JobSatisfaction VARCHAR(50),
    MaritalStatus VARCHAR(50),
    MonthlyIncome DECIMAL(10, 2),
    MonthlyRate DECIMAL(10, 2),
    NumCompaniesWorked INT,
    OverTime VARCHAR(5),
    PercentSalaryHike DECIMAL(5, 2),
    PerformanceRating VARCHAR(50),
    RelationshipSatisfaction VARCHAR(50),
    StandardHours INT DEFAULT 40,
    StockOptionLevel VARCHAR(50),
    TotalWorkingYears INT,
    TrainingTimesLastYear INT,
    WorkLifeBalance VARCHAR(50),
    YearsAtCompany INT,
    YearsInCurrentRole DECIMAL(5, 2),
    YearsSinceLastPromotion INT,
    YearsWithCurrManager INT,
    DateBirth YEAR,
    RemoteWork VARCHAR(5)
);""",]

    
# Hemos creado esta lista de nombres de tablas para poder iterar sobre ella e imprimirá sus nombres apropiadamente a medida que los cree.
    nombre_tablas = [
        'employees',
        ]

   # El zip es una función que agrupa listas que tienen múltiples elementos en tuplas. 
    # Esto luego le permite iterar a través de los nombres en la impresión.
    for query, nombre_tablas in zip(queries, nombre_tablas):
        try:
            mycursor.execute(query) 
            print(f"TABLA CREADA CON EL NOMBRE: {nombre_tablas} 🆗")
        
        except mysql.connector.Error as err:
            print(err)
            print("Código de error:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("mensaje", err.msg)

    cnx.commit()
    mycursor.close()
    cnx.close()

In [14]:
# llamada BBDD
crear_bbdd()

DATABASE CREATED UNDER THE NAME: ABC_Corporation 🆗

In [15]:
# Llamada de tablas
crear_tablas()

TABLA CREADA CON EL NOMBRE: employees 🆗